.locked{
    height: 350px;
    width: 350px;
    background-color: #3D4641;
    border-radius: 6px;
}
.ask{
   height: 350px; 
   width: 350px;
   background-color: #E5E5E5;
   border-radius: 6px;
}

.answered{
    height: 350px;
    width: 350px;
    background-color: #F6F6F3;
    border-radius: 6px;
}
