.cards-container{
    display: flex;
    overflow-x: scroll;
    height: calc(100vh - 222px);
    width: 100vw;
}
.LOCKED{
    border: 1;
    margin-top: 20px;
    margin-left: 74px;
    height: 350px;
    min-width: 350px;
    max-width: 350px;
    background-color: #3D4641;
    color: #F2EEE1;
    border-radius: 6px;
}
.ASK, .ANSWER {
    border: 1;
    margin-top: 20px;
    margin-left: 74px;
    height: 350px; 
    min-width: 350px;
    max-width: 350px;
    background-color: white;
    color: #4A4A4A;
    border-radius: 6px;
    filter: drop-shadow(15px 15px rgba(61, 70, 65, 0.15));
}
.ASKED, .ANSWERED {
    border: 1;
    margin-top: 20px;
    margin-left: 74px;
    height: 350px;
    min-width: 350px;
    max-width: 350px;
    background-color: #F6F6F3;
    color: #4A4A4A;
    border-radius: 6px;
    filter: drop-shadow(15px 15px rgba(61, 70, 65, 0.15));
}