<div class="mainWindow">
  <app-header></app-header>
    <section class="cards-container">  
      <mat-card class="mat-card-locked">
        <mat-card-title>Basic AF card</mat-card-title>
      </mat-card>  
      <mat-card class="mat-card-ask">
        <mat-card-title>Another Basic</mat-card-title>
      </mat-card>
      <mat-card class="mat-card-ask">
        <mat-card-title>Basic AF card</mat-card-title>
      </mat-card>  
      <mat-card class="mat-card-answered">
        <mat-card-title>Another Basic</mat-card-title>
      </mat-card >
      <mat-card class="mat-card-answered">
        <mat-card-title>Another Basic</mat-card-title>
      </mat-card>
    </section>
  <app-footer></app-footer>
</div>